name: Hello World Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World Step
        run: ls -lar
      - name: Excuete Demo Script
        run: |
          chmod +x ./demo.sh
          ./demo.sh  
      - name: Additional Step
        run: echo "This is an additional step in the hello world job."