name: Hello World Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World Step
        run: echo "Hello, World!"
      - name: Another Step
        run: echo "This is another step in the workflow." 